{% extends 'layout.html'%}
{% block body%}

<h1>Add new menu item</h1>
<form class="" action="{{url_for('newMenuItem', restaurant_id = restaurant.id)}}" method="post">
  <input type="text" name="nameMenu" value="" placeholder="Menu item">
  <input type="text" name="description" value="" placeholder="Menu description">
  <input type="text" name="price" value="" placeholder="Menu Price">
  <input type="text" name="course" value="" placeholder="Course">
  <input type="submit" name="" value="Add Menu item">
</form>

{% endblock %}
